@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&subset=cyrillic,cyrillic-ext');
@font-face{
  font-family: 'Krungthep';
  src: url('../fonts/krungthep.eot');
  src: url('../fonts/krungthep.eot?iefix') format('eot'),
  url('../fonts/krungthep.woff') format('woff'),
  url('../fonts/krungthep.ttf') format('truetype'),
  url('../fonts/krungthep.svg#webfont') format('svg');
}