body{
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(28, 94, 37);
}
*{
  color: #fff;
  font-family: "Open Sans";
}
h1{
  text-transform: uppercase;
}
.game-page, .end-page{
  display: none;
}